.layout-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    visibility: hidden;

    .layout-contents{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .project-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;

            .project-contents{
                height: 90vh;
                display: flex;
                line-height: 2rem;


                .project-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    left: 2.8rem;
                    z-index: 1;
                    height: 90%;

                    .project-text-area{
                        // height: 100px;
                        .project-text-contents{
                            position: relative;
                            overflow: hidden;
                            line-height: 0;

                            .sub-header{
                                display: flex;
                                width: 13rem;
                                justify-content: space-between;
                                position: relative;
                                left: 1.5rem;
                                

                                .rectangle{
                                    width: 9px;
                                    height: 55px;
                                    background-color: #C4C4C4;
                                    position: relative;
                                    // bottom: 4px;
                                }
                                
                            }

                            
                        }

                    }

                    


                    h1{
                        font-family: Ogg;
                        font-size: 4.5rem;
                        font-weight: 100;
                        text-transform:uppercase;
                        letter-spacing: -1px;
                    }
                    p{
                        position: relative;
                        bottom: 0.75rem;
                        line-height: 1rem;
                        font-size: 0.8rem;
                    }
                }

                .about-right{
                    width: 800px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    right: 2.8rem;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        background: white;
                    }
                    .project-image{
                        transition: 0.7s ease-in-out;

                            &:hover{
                                transform: scale(1.01);
                                opacity: 90%;
                            }
                        img{
                            width: 100%;
                            
                            
                        }
                    }
                }
            }   
        }
        

        .header-container{
            width: 90%;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            position: fixed;
        
            .header-contents{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .header-left{
                    line-height: 0.2;
                    position: relative;
                    overflow: hidden;
            
                    :nth-child(1){
                        font-size: 1.4rem;
                    }
                    :nth-child(2){
                        color: rgb(148, 148, 148);
                    }
                }
            
                .header-right{
                    display: flex;
                    position: relative;
                    overflow: hidden;

                    p{
                        margin: 2rem 1rem;
                    }
                }
            }    
        }
        .footer-container{
            position: fixed;
            bottom: 0;
            width: 90%;
            height: 10%;
        
            .footer-contents{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    

    
}

