@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import './styles/typography.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow: hidden;
  color: #3E3E3E;
}